version: '3'
services: 
    nosql-db:
        image: mongo
        ports:
        - '27017:27017'
        container_name: nosql_db
        volumes:
        - ./db/:data/db  

    products:
        container_name: products
        build:
            dockerfile: DockerFile
            context: ./products
        ports:
            - "8002:8002"
        restart: always    
        depends_on:
            - "nosql-db"
        volumes:
            - .:/app
            - /app/products/node_modules

    shopping:
        container_name: shopping
        build:
            dockerfile: DockerFile
            context: ./shopping
        ports:
            - "8003:8003"
        restart: always    
        depends_on:
            - "nosql-db"
        volumes:
            - .:/app
            - /app/shopping/node_modules    

    customer:
        container_name: customer
        build:
            dockerfile: DockerFile
            context: ./customer
        ports:
            - "8001:8001"
        restart: always    
        depends_on:
            - "nosql-db"
        volumes:
            - .:/app
            - /app/customer/node_modules        
    nginx-proxy:
        build:
            dockerfile: DockerFile
            context: ./proxy
        depends_on:
            - products
            - shopping
            - customer
        ports:
            - "80:80"                    
